<!-- 부모 파일 상속 -->
{% extends 'myApp/base_student.html' %}

{% block content %}
<h1>학생 전체 목록</h1>
<hr>
{{ student_list }}
<hr>
{% for row in student_list %}
    <p>{{row}}</p>
{% endfor %}
<hr>
<h2>테이블명.필드명 으로 출력</h2>
{% for row in student_list %}
    <p>{{row.id}} {{row.s_name}} {{row.s_major}} {{row.s_grade}} {{row.s_gender}}</p>
{% endfor %}
<hr>
<h3>상세 페이지 스타일 - 아이디, 학생명, 버튼</h3>
<div class="list-group">
    {% for row in student_list %}
    <!-- row.필드명 으로 각각 출력 가능 -->
    <div class="list-group-item list-group-item-action">
        <b>{{ row.id }}</b> <span>{{ row.s_name }}</span>
        <!-- 상세페이지 이동 버튼  -->
        <a href="/myApp/{{row.id}}/detail/" class="btn btn-primary">상세</a>
        <!-- 삭제 버튼 -->
        <!-- /myApp/학생아이디/delete/ -->
        <a href="/myApp/{{row.id}}/delete/" class="btn btn-danger">삭제</a>
        <!-- 수정 버튼 -->
        <!-- /myApp/학생아이디/modify/ -->
        <a href="/myApp/{{row.id}}/modify/" class="btn btn-secondary">수정</a>
    </div>
   {% endfor %}
</div>

{% endblock %}