<!-- 부모 html 상속 -->
{% extends 'myApp/base_student.html' %}

<!-- 교체 내용 영역 -->
{% block content %}
<h1>{{student.id}} 번 학생</h1>
<hr>
    <!-- 템플릿 주석 -->
   {% comment %} {{student}} {% endcomment %}
<div >
    <ul class="list-group " style="width:50%;margin:20px auto">
        <li class="list-group-item">이름 : {{student.s_name}}</li>
        <li class="list-group-item">학과 : {{student.s_major}}</li>
        <li class="list-group-item">나이 : {{student.s_age}}</li>
        <li class="list-group-item">점수 : {{student.s_grade}}</li>
        <li class="list-group-item">성별 : {{student.s_gender}}</li>
    </ul>
</div>

{% endblock  %}